html {
  height: 100%;
}
body {
  background-color: #d5beaa;
  height: 100%;
}

#container {
  width: 970px;
  /*height: 935px;*/
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  background: url(../img/bg.jpg) fixed repeat no-repeat;
}

#header {
    height: 240px;
}

#userinfo {
  width: 23%;
  height: 100%;
  float: left;
}

#userhead {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  border: solid 2px #fff;
  margin: 25px auto 0 auto;
  /*background: #efe7e5 url(../img/user.jpg) no-repeat -79px;*/
  background: #efe7e5 url(../img/me.jpg) no-repeat 0 -17px;
  background-size: 100% auto;
}
#userhead.active {
  border: solid 2px #a2df0b;
}

#username {
  margin: 20px auto 10px auto;
  color: #fff;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  font-family: cursive,Times,Georgia, serif;
}

.userinf {
  font-size: 15px;
  color: #f0e1bc;
  text-align: center;
}

.userinf .link {
  color: #f0ff89;
  text-decoration: none;
}
.userinf .link:hover {
  color: #a2df0b;
}

.userinf .button {
	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;
	font: bold 12px/25px Arial, sans-serif;

	text-shadow: 1px 1px 1px rgba(255,255,255, .22);

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.userinf .gray {
	color: #757c72;
	background: #fff; /* Old browsers */
	
	/*background: -moz-linear-gradient(top,  #fff 0%, #fff 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#fff)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #fff 0%,#fff 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #fff 0%,#fff 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #fff 0%,#fff 100%); /* IE10+ */
	/*background: linear-gradient(top,  #fff 0%,#fff 100%); /* W3C */
}
.userinf .gray:hover {
	background: #a2df0b;
}


/* prmo start */
#promo {
	color: #fff;
	height: 100%;
	width: 60%;
	margin-left: 66px;
	float: left;
}

.myrslides {
  margin: 0 auto;
}

.myrslides li {
  list-style:none;
}


.rslides_container {
  margin: 60px auto;
  position: relative;
  float: left;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

 .centered-btns_nav.prev {
  left: -10px;
  background: url(../img/arrow-left.png) no-repeat 2px 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  }
.centered-btns_nav.prev:hover {
  left: -10px;
  background: url(../img/arrow-left_hover.png) no-repeat 2px 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  }  
  
.centered-btns_nav.next {
  left: auto;
  background: url(../img/arrow-right.png) no-repeat 2px 2px;
  right: -40px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  }
.centered-btns_nav.next:hover {
  left: auto;
  background: url(../img/arrow-right_hover.png) no-repeat 2px 2px;
  right: -40px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff; /* Fix for IE6-9 */
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url(../img/theme.gif) no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 152px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px #fff;
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 10px;
  height: 10px;
  padding: 2px;
  }
.centered-btns_tabs a:hover,
.transparent-btns_tabs a:hover,
.large-btns_tabs a:hover {
	border: solid 2px #a2df0b;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-clip: content-box;
  border: solid 2px #fff;
  margin: 0.6px;
  padding: 2px;
  }
.centered-btns_here a:hover,
.transparent-btns_here a:hover,
.large-btns_here a:hover {
  background: #a2df0b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-clip: content-box;
  border: solid 2px #a2df0b;
  margin: 0.6px;
  padding: 2px;
  }
/* prmo end */

/* menu */
#main {
	margin-top: 42px;
}

.valid_menu {
   display: inline;
   float: left;
}
.white_line  {
   display: inline;
   float: left;
   width: 534px;
}
.white_line span {
   border-top: solid 12px #fff;
   width: 534px;
   display: table-cell;
}
.menu_item {
	border-top: solid 12px #fff;
	padding-top: 10px;
	display: table-cell;
	text-align: center;
	cursor: pointer;
}
.menu_item.active {
	border-top: solid 12px #a2df0b;
}
.menulink {
	color: #fff;
	font-family: Arial,Georgia,serif;
	font-size: 21px;
	margin-left: 26px;
}
.menulink:hover {
	color: #a2df0b;
}

.home_link {
	background: url(../img/home.png) no-repeat 3px 11px;
	width: 86px;
}
.home_link.active {
	background: url(../img/home_hover.png) no-repeat 3px 11px;
}
.profile_link {
	background: url(../img/profile.png) no-repeat 13px 11px;
	width: 110px;
}
.profile_link.active {
	background: url(../img/profile_hover.png) no-repeat 13px 11px;
}
.service_link {
	background: url(../img/service.png) no-repeat 7px 11px;
	width: 110px;
}
.service_link.active {
	background: url(../img/service_hover.png) no-repeat 7px 11px;
}
.photo_link {
	background: url(../img/photo.png) no-repeat 9px 11px;
	width: 100px;
}
.photo_link.active {
	background: url(../img/photo_hover.png) no-repeat 9px 11px;
}


#menu {
	height: 50px;
	margin: 0 15px;
}
#content {
	width: 100%;
	margin-top: 25px;
	height: 420px;
}
.content_block {
	float: left;
	width: 180px;
	height: 190px;
	margin: 5px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.content_block span.header {
	line-height:60px;
}
.content_block span.desc {
	text-align: left;
	display: block;
	margin-left: 18px;
	font-size: 13px; 
}
.music_ico {
	height: 37%;
    margin-top: 35px;
}
.camera_ico {
	height: 30%;
    margin-top: 45px;
}
.video_ico {
	height: 27%;
    margin-top: 49px;
}
.book_ico {
	height: 27%;
    margin-top: 49px;
}
.ico_title {
	font-size: 12px;
}
.content_block_no {
	float: left;
	width: 180px;
	height: 190px;
	margin: 5px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.content_block_big {
	height: 390px;
	margin: 5px;
}
.brown {
	background-color: #804a08;
}
.white {
	background-color: #a2df0b;
}
.content_block_no span.header {
	line-height:60px;
}
.content_block_no span.desc {
	text-align: left;
	display: block;
	margin-left: 18px;
	font-size: 13px; 
}


#cleft   {
    float: left;
	margin-left: 10px;
	width: 380px;
}
#ccenter   {
    float: left;
	width: 380px;
}
#cright  {
    float: left;
	width: 185px;
}
#content_bottom {
	border-bottom: solid 12px #fff;
	height: 420px;
	margin: 0 15px;
}
.bottom_line {
	border-bottom: solid 12px #fff;
	display: block;
	float: left;
	width: 180px;
	height: 20px;
}
.bottom_line_ex {
	border-bottom: solid 12px #fff;
	display: block;
	float: left;
	width: 370px;
	height: 20px;
}
.bot_second,.bot_third,.bot_fourth {
	margin-left: 10px;
}
.bottom_line.active,.bottom_line_ex.active {
	border-bottom: solid 12px #a2df0b;
}

/*content*/
.img_block {
	width: 100%;
	height: 100%;
}
.img_bird {
	height: 37%;
	margin-left: 672px;
	margin-bottom: 346px;
    margin-top: -470px;
}

/*audio player*/
.media-wrapper {
	height: 153px;
}
#audio_player {
	width: 100%;
	position: relative;
	top: 118px;
}
